<div class="container">
  <div class="row row-cols-3">
    <% for (const book of books) { %>
      <div class="col my-3">
        <div class="card" style="width: 100%; height: 100%;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="<%= book.ImgLink %>" class="img-fluid rounded-start" data-isbn="<%= book.Isbn %>">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= book.BookName %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= book.AuthorName %> ・ <%= book.publisherName%></h6>
                <p class="card-text"><%= book.BookContent %></p>
                <% book.Tags.forEach(tag => { %>
                  <%- include('../components/book-tag', {tag: tag}) %>
                <% }) %>
                <div class="mt-2">
                  <a href="/item/<%= book.id %>">
                    <span class="mx-3"><%- include('./../icons/book') %></span>詳細
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</div>
