<%#
ナビゲーションバー
%>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="<%= pageData.origin %>/img/logo.png" alt="logo" class="navbar-logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Campaign</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">How</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/request">Request</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login/">Admin(Debug)</a>
        </li>
      </ul>
        <span class="navbar-text">
          <a class="nav-link p-0 navbar-search-button" onclick="viewSearchBox()">
              <%- include('./../icons/binocular') %>
          </a>
        </span>
    </div>
  </div>
</nav>

<!-- 検索時に表示 -->
<div class="search-box" id="search-box">
  <div class="close-button" onclick="hideSearchBox()"><%- include('./../icons/x') %></div>
  <div class="text-center search-title-box">
    <h1 class="search-title">Search</h1>
    <%-include('./../icons/binocular')  %>
  </div>
  <div class="search-form-box">
    <form action="/search" method="get">
      <div class="form-group search-input-box">
        <input type="text" class="search-input" id="search-input" name="search" placeholder="本を検索" required>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="form-check form-switch text-center" style="font-size: 1.4rem;">
              <input class="form-check-input" type="checkbox" name="strict" value="true" id="strictSearch" style="position: absolute;">
              <label class="form-check-label" for="strictSearch">げんみつ検索</label>
            </div>
          </div>
          <div class="col-md-6" id="tagSearchButton">
            <div class="form-check form-switch text-center" style="font-size: 1.4rem;">
              <input class="form-check-input" type="checkbox" name="tag" value="true" id="tagSearch" style="position: absolute;">
              <label class="form-check-label" for="tagSearch">タグ検索</label>
            </div>
          </div>
        </div>
      </div>
      <div class="search-type-box">
        <h2>カテゴリ</h2>
        <div class="container">
          <div class="row">
            <div class="col">
              <div onclick="changeSearchType('author')">
                <%- include('./nav-type-item', {icon: 'person', text: '著者', value: 'author', isDefault: false}) %>
              </div>
            </div>
            <div class="col">
              <div onclick="changeSearchType('book')">
                <%- include('./nav-type-item', {icon: 'book', text: '本', value: 'book', isDefault: true}) %>
              </div>
            </div>
            <div class="col">
              <div onclick="changeSearchType('publisher')">
                <%- include('./nav-type-item', {icon: 'building', text: '出版社', value: 'publisher', isDefault: false}) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="search-type-icon-box">
    <div id="authorBgIcon" class="search-type-icon-item-box">
      <%- include('./../icons/person') %>
    </div>
    <div id="bookBgIcon" class="search-type-icon-item-box search-type-icon-active">
      <%- include('./../icons/book') %>
    </div>
    <div id="publisherBgIcon" class="search-type-icon-item-box">
      <%- include('./../icons/building') %>
    </div>
  </div>
</div>