<%#
検索画面のカテゴリ別のボタンUI
%>
<input type="radio" name="type" id="<%= value %>Input" style="display: none;" value="<%= value %>" <% if (isDefault) { %>checked<% } %>>
<label for="<%= value %>Input" class="w-100">
  <div class="search-type-item">
    <%- include(`./../icons/${icon}`) %>
    <p><%= text %></p>
  </div>
</label>