<%#
ページネーション
%>
<nav class="tree-pagination" id="treePagination">
  <ul class="tree-pagination-list">
    <% if (paginationData.pageCount >= 1) { %>
      <li class="tree-pagination-item">
        <a class="tree-pagination-link" href="<%= url %>page=<%= paginationData.pageCount %>">
          <i class="bi bi-chevron-left"></i>
        </a>
      </li>
    <% } %>
    <% for (let i = paginationData.pageRange.min; i <= paginationData.pageRange.max; i++) { %>
      <li class="tree-pagination-item <% if (i - 1 === paginationData.pageCount){ %>tree-pagination-item-active<% } %>">
        <a class="tree-pagination-link" href="<%= url %>page=<%= i %>"><%= i %></a>
      </li>
    <% } %>
    <% if (paginationData.pageCount < paginationData.totalPage - 1) { %>
      <li class="tree-pagination-item">
        <a class="tree-pagination-link" href="<%= url %>page=<%= paginationData.pageCount + 2 %>">
          <i class="bi bi-chevron-right"></i>
        </a>
      </li>
    <% } %>
  </ul>
</nav>