<%#
おすすめセクション一覧の表示
%>

<<<<<<< HEAD
<% paginationItemList = typeof paginationData === 'undefined' ? [] : paginationData %>

<div class="campaign-container">
  <div class="campaign-flex">
    <% for (recommendation of paginationItemList) { %>
    <li class="campaign-item">
      <div class="campaign-thumbnail">
        <img class="w-100" src="/thumbnail/<%= recommendation.ThumbnailName %>.png">
      </div>
      <div class="campaign-item-text w-100">
        <h3><%= recommendation.Title %></h3>
        <p><%= recommendation.CreatedAt %></p>
      </div>

      <% if (typeof editMode !== 'undefined' && editMode === true) { %>
        <a
          href="/admin/recommendation/edit?rid=<%= recommendation.Id %>"
          class="tree-button tree-button-success tree-button-mini mx-auto my-4"
        >編集する</a>
      <% } %>
    </li>
    <% } %>
  </div>
</div>
=======
<% pageData.anyData.recommendations = typeof pageData.anyData.recommendations === 'undefined' ? [] : pageData.anyData.recommendations%>
<% editMode = typeof editMode === 'undefined' ? false : editMode %>

<div class="recommendation-list-box">
  <% for (const section of pageData.anyData.recommendations) { %>
    <% if (section.recommendation.IsSolid) { %>
      <p class="recommendation-solid-text"><%- include('./../icons/pin-angle') %>固定済み</p>
    <% } %>
    <%- include('recommendation-box', {recommendation: section})  %>
  <% } %>
</div>
>>>>>>> 5a829ed21201bfdcebade0462cd2d5c5fd998194
