<%#
メッセージなどを表示するアラート
%>

<% if (pageData.status !== undefined) {%>
<div id="stateAlert" class="alert alert-<%= pageData.status.buttonType %> alert-dismissible fade show state-info-toast auto-fade" role="alert">
  <%= pageData.status.mes %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<% if(messages) { %>
  <%= JSON.stringify(messages) %>
  <% if(messages.success) { %>
    <div id="stateAlert" class="alert alert-success alert-dismissible fade show state-info-toast auto-fade" role="alert">
      <%= messages.success %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% } else if (messages.error) { %>
    <div id="stateAlert" class="alert alert-danger alert-dismissible fade show state-info-toast auto-fade" role="alert">
      <%= messages.error %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% } else if (messages.warning) { %>
    <div id="stateAlert" class="alert alert-warning alert-dismissible fade show state-info-toast auto-fade" role="alert">
      <%= messages.warning %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% } %>
<% } %>