<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../../components/head') %>
    <link rel="stylesheet" href="<%= pageData.origin %>/css/admin/csv/header-choice.css" />
  </head>
  <body>
    <header>
      <%- include('./../../../components/header-title', {mes: 'CSVファイルから本を登録', logo: 'filetype-csv'}) %>
    </header>

    <form action="/admin/csv/formHader" method="post" class="header-choice-form">
      <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">

      <section class="tree-form-item">
        <label class="tree-label"><%- include('../../../components/required-text', {mes: '書名'}) %></label>
        <select class="tree-input form-select tree-select-with-bg" name="bookName">
          <%- include('./../../../components/admin/csv/header-list.ejs', { required: true }) %>
        </select>
      </section>

      <section class="tree-form-item">
        <label class="tree-label">ISBN</label>
        <select class="tree-input form-select tree-select-with-bg" name="isbn">
          <%- include('./../../../components/admin/csv/header-list.ejs', { required: false }) %>
        </select>
      </section>

      <section class="tree-form-item">
        <label class="tree-label">副題</label>
        <select class="tree-input form-select tree-select-with-bg" name="bookSubName">
          <%- include('./../../../components/admin/csv/header-list.ejs', { required: false }) %>
        </select>
      </section>

      <section class="tree-form-item">
        <label class="tree-label">著者名</label>
        <select class="tree-input form-select tree-select-with-bg" name="authorName">
          <%- include('./../../../components/admin/csv/header-list.ejs', { required: false }) %>
        </select>
      </section>

      <section class="tree-form-item">
        <label class="tree-label">出版社名</label>
        <select class="tree-input form-select tree-select-with-bg" name="publisherName">
          <%- include('./../../../components/admin/csv/header-list.ejs', { required: false }) %>
        </select>
      </section>

      <section class="tree-form-item">
        <label class="tree-label">日本十進分類法</label>
        <select class="tree-input form-select tree-select-with-bg" name="ndc">
          <%- include('./../../../components/admin/csv/header-list.ejs', { required: false }) %>
        </select>
      </section>

      <section class="tree-form-item">
        <label class="tree-label">出版年</label>
        <select class="tree-input form-select tree-select-with-bg" name="year">
          <%- include('./../../../components/admin/csv/header-list.ejs',{ required: false }) %>
        </select>
      </section>

      <section class="tree-form-item">
        <label class="tree-label">内容</label>
        <select class="tree-input form-select tree-select-with-bg" name="bookContent">
          <%- include('./../../../components/admin/csv/header-list.ejs',{ required: false }) %>
        </select>
      </section>
      <button type="submit" class="btn btn-primary" onclick="sendForm()">送信</button>
    </form>
    <%- include('./../../../components/input-js') %>
  </body>
</html>