<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../../components/head') %>
  </head>
  <body>
    <%- include('./../../../components/header-title', {mes: `${pageData.anyData.department.Name}の削除`}) %>

    <div class="tree-attention">
      <h3 class="tree-attention-title">
        学科を削除する際の注意
        <i class="bi bi-exclamation-triangle"></i>
      </h3>
      
      <ul class="tree-attention-list">
        <li><%= pageData.anyData.department.Name %>に所属するユーザのリクエストも一緒に削除されます。</li>
      </ul>
    </div>

    <div class="book-request-box">
      <% if (pageData.anyData.bookRequests.length === 0) { %>
        <h4 class="text-center">リクエストはありません。</h4>
      <% } else { %>
      <table class="tree-table table table-striped text-center">
        <thead>
          <tr>
            <th>リクエスト中の本</th>
            <th>リクエスト日時</th>
          </tr>
        </thead>
        <tbody>
        <% for (let bookRequest of pageData.anyData.bookRequests) { %>
          <tr>
            <td><%= bookRequest.BookName %></td>
            <td><%= bookRequest.CreatedAt %></td>
          </tr>
        <% } %>
        </tbody>
      </table>
      <% } %>
    </div>

    <div class="container my-4">
      <div class="row align-items-center text-center">
        <div class="col">
          <a href="/admin/school-info/" class="tree-button tree-button-success mx-auto">戻る</a>
        </div>
        <div class="col">
          <form method="post" action="/admin/school-info/delete">
            <input type="hidden" name="deleteId" value="<%= pageData.anyData.department.Id %>">
            <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
            <button type="submit" class="tree-button tree-button-danger mx-auto">削除</button>
          </form>
        </div>
      </div>
    </div>
    <%- include('./../../../components/input-js') %>
  </body>
</html>