<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../../components/head') %>
  </head>
  <body>
    <header>
      <%- include('./../../../components/header-title', {mes: `${pageData.anyData.tag.Name}の編集`}) %>
    </header>

    <form action="/admin/tags/update" method="post">
      <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
      <input type="hidden" name="id" value="<%= pageData.anyData.tag.Id %>">
      <div class="tree-form-item">
        <label for="formName" class="tree-label">タグ名</label>
        <input class="tree-input" type="text" id="formName" name="name" value="<%= pageData.anyData.tag.Name %>">
      </div>

      <div class="container my-4">
        <div class="row">
          <div class="col">
            <a href="/admin/tags/" class="tree-button mx-auto tree-button-success">戻る</a>
          </div>
          <div class="col">
            <button type="submit" class="tree-button mx-auto">変更</button>
          </div>        
        </div>
      </div>
    </form>
    <%- include('./../../../components/input-js') %>
  </body>
</html>