<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../../components/head') %>
  </head>
  <body>
    <h3>タグ編集</h3>
    <form action="/admin/tags/update" method="post">
      <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
      <input type="hidden" name="id" value="<%= pageData.anyData.tag.Id %>">
      <div class="form-group">
        <label for="formName" class="form-label">タグ名</label>
        <input class="form-control" type="text" id="formName" name="name" value="<%= pageData.anyData.tag.Name %>">
      </div>
    </form>
    <div class="text-center">
      <a href="/admin/tags/">戻る</a>
    </div>
    <%- include('./../../../components/inputJs') %>
  </body>
</html>