<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../../components/head') %>
  </head>
  <body>
    <%- include('./../../../components/header-title', {mes: 'タグ一覧', logo: 'tags'}) %>
    <% if (pageData.anyData.tags.length === 0) { %>
      <%- include('../../../components/no-item', {title: "タグが登録されていません", mes: "気になる本にどんどんタグをつけていきましょう！", icon: "tags"}) %>
    <% } else { %>
      <div class="tree-table">
        <table class="table table-striped text-center">
          <thead>
            <tr>
              <th>タグ名</th>
              <th>登録件数</th>
              <th>作成日時</th>
              <th>編集</th>
              <th>削除</th>
            </tr>
          </thead>
          <tbody>
            <% for (const tag of pageData.anyData.tags) { %>
              <tr class="align-middle">
                <td><%= tag.Name %></td>
                <td><%= tag.BookIds.length %></td>
                <td><%= tag.CreatedAt %></td>
                <td>
                  <form action="/admin/tags/edit" method="get">
                    <input type="hidden" name="id" value="<%= tag.Id %>">
                    <button type="submit" class="tree-button tree-button-mini mx-auto">編集</button>
                  </form>
                </td>
                <td>
                  <form action="/admin/tags/delete" method="post">
                    <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
                    <input type="hidden" name="id" value="<%= tag.Id %>">
                    <button type="submit" class="tree-button tree-button-mini mx-auto tree-button-danger">削除</button>
                  </form>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    <% } %>

    <a href="/admin/" class="tree-button mx-auto my-3">戻る</a>
    <%- include('./../../../components/input-js') %>
  </body>
</html>