<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../../components/head') %>
  </head>
  <body>
    <%- include('./../../../components/header-title', {mes: 'タグ一覧', logo: 'tags'}) %>
    <% if (pageData.anyData.tags.length === 0) { %>
      <%- include('../../../components/no-item', {title: "タグが登録されていません", mes: "気になる本にどんどんタグをつけていきましょう！", icon: "tags"}) %>
    <% } else { %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>タグ名</th>
          <th>登録件数</th>
          <th>作成日時</th>
          <th>編集</th>
          <th>削除</th>
        </tr>
      </thead>
      <tbody>
        <% for (let tag of pageData.anyData.tags) { %>
          <tr>
            <td><%= tag.Name %></td>
            <td><%= tag.BookIds.length %></td>
            <td><%= tag.CreatedAt %></td>
            <td>
              <form action="/admin/tags/edit" method="get">
                <input type="hidden" name="id" value="<%= tag.Id %>">
                <button type="submit" class="btn btn-success">編集</button>
              </form>
            </td>
            <td>
              <form action="/admin/tags/delete" method="post">
                <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
                <input type="hidden" name="id" value="<%= tag.Id %>">
                <button type="submit" class="btn btn-danger">削除</button>
              </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <% } %>
    <div class="text-center">
      <a href="/admin/">戻る</a>
    </div>
    <%- include('./../../../components/input-js') %>
  </body>
</html>