<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../../components/head') %>
    <link rel="stylesheet" href="<%= pageData.origin %>/css/admin/recommendation/edit.css" />
  </head>
  <body>
    <header>
      <%- include('./../../../components/header-title', {mes: 'セクションの追加'}) %>
    </header>

    <div class="tree-attention">
      <h3 class="tree-attention-title">
        注意
        <i class="bi bi-exclamation-triangle"></i>
      </h3>
      
      <ul class="tree-attention-list">
        <li>並び順、本の登録は編集画面から設定できます。</li>
      </ul>
    </div>

    <form method="post" action="/admin/recommendation/insert">
      <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
      <div class="tree-form-item mb-3">
        <label for="title" class="tree-label" required><%- include('../../../components/required-text', {mes: 'タイトル'}) %></label>
        <input type="text" class="tree-input" id="title" name="title" placeholder="タイトルを入力" required>
      </div>

      <div class="mb-3 tree-form-item">
        <label for="content" class="tree-label"><%- include('../../../components/required-text', {mes: '内容'}) %></label>
        <div class="tree-input-with-switch">
          <textarea class="tree-input tree-textarea" placeholder="内容を追加" id="content" style="height: 200px;" name="content"></textarea>
          <div class="form-text">
            <i class="bi bi-question-circle"></i>
            <a href="#">markdown</a>記法をサポートしています
          </div>
        </div>
      </div>

      <div class="view-markdown-result-box my-4">
        <a class="tree-button tree-button-success tree-button-mini mx-auto mb-3" onclick="viewMarkDown('content')" data-bs-toggle="collapse" href="#collapseMarkdown" role="button" aria-expanded="false" aria-controls="collapseMarkdown">
          表示結果
        </a>
        <div class="collapse" id="collapseMarkdown">
          <div class="card card-body">
            <div class="markdown-result" id="markdown-result">
              <!-- markdownからhtmlにparseした要素が生成 -->
            </div>
          </div>
        </div>
      </div>

      <%- include('./../../../components/admin/recommendation/thumbnail-list', {thumbnailList: pageData.anyData.thumbnailList, defaults: pageData.anyData.defaultThumbnailList}) %>

      <div class="container my-4">
        <div class="row">
          <div class="col">
            <a href="/admin/recommendation" class="tree-button mx-auto">戻る</a>
          </div>
          <div class="col">
            <button type="button" onclick="submit();" class="tree-button tree-button-success mx-auto">追加</button>
          </div>
        </div>
      </div>
    </form>

    <%- include('./../../../components/state-alert', {pageData}) %>

    <%- include('./../../../components/input-js') %>
    <script src="/js/sendThumbnailFile.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/js/DOMPurify/dist/purify.min.js"></script>
    <script src="/js/editMarkdown.js"></script>
  </body>
</html>