<% const recommendation = pageData.anyData.recommendation; %>
<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../../components/head') %>
    <meta name="csrfToken" content="<%= pageData.csrfToken %>">
    <link rel="stylesheet" href="<%= pageData.origin %>/css/admin/recommendation/edit.css" />
  </head>
  <body>
    <h3>セクションの編集</h3>

    <form method="post" action="/admin/recommendation/udpate" class="mb-3">
      <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
      <input type="hidden" name="id" value="<%= recommendation.Id %>">
      <div class="mb-3">
        <label for="title" class="form-label" required>タイトル</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="タイトルを入力" value="<%= recommendation.Title %>" required>
      </div>

      <div class="mb-3 form-floating">
        <input type="text" class="form-control" placeholder="内容を追加" id="content" style="height: 200px" name="content" value="<%= recommendation.Content %>" required>
        <label for="content">内容</label>
      </div>

      <div class="container">
        <div class="row">
          <h4 class="text-center">順番</h4>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" name="isSolid" onclick="toggleSortIndex()" value="solid" <% if(recommendation.IsSolid) { %>checked<% } %> id="isSolid">
              <label class="form-check-label" for="isSolid">固定</label>
            </div>
          </div>
          <div class="col">
            <div class="sort-index-box <% if (!recommendation.IsSolid) { %>view<% } %>" id="sort-index-box">
              <input type="number" class="form-control" min="1" max="<%= pageData.anyData.maxSortIndex %>" required id="sortIndex" name="sortIndex" value="<%= pageData.anyData.maxSortIndex - recommendation.SortIndex + 1 %>">
              <label for="sortIndex">順番</label>
            </div>
          </div>
        </div>
        <div class="row">
          <p class="m-0 text-center text-danger">固定を選択すると、現在固定されている投稿の固定が解除されます。</p>
        </div>
      </div>

      <div class="my-3">
        <h4 class="text-center">追加する本</h3>
        <table class="table table-striped">
          <thead>
            <thead>
              <th>書名</th>
              <th>削除</th>
            </thead>
            <tbody id="book-title-list-box">
              <% for (const item of pageData.anyData.items) { %>
                <tr class="book-item-box" id="book-item-<%= item.book.Id %>" data-bookid="<%= item.book.Id %>">
                  <td><%= item.book.BookName %></td>
                  <td>
                    <input type="text" placeholder="コメントを追加" name="bookComments[]" value="<%= item.comment %>">
                  </td>
                  <td>
                    <a onclick="deleteBook('<%= item.book.Id %>')" class="btn btn-warning">削除</a>
                  </td>
                  <input type="hidden" value="<%= item.book.Id %>" name="books[]">
                </tr>
              <% } %>
            </tbody>
          </thead>
        </table>
        <div class="container">
          <div class="row">
            <div class="col">
              <input class="form-control add-id-input" type="text" placeholder="urlを入力" id="url">
              <div id="urlHelp" class="form-text">本詳細画面のURLを入力してください</div>
            </div>
            <div class="col">
              <div class="text-center">
                <a class="btn btn-outline-success mt-3" onclick="addBook('<%= recommendation.Id %>')">追加</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center mb-3">
        <button type="button" onclick="submit();" class="btn btn-primary">確定</button>

      </div>
    </form>

    <div class="text-center my-4">
      <form method="post" action="/admin/recommendation/delete">
        <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
        <input type="hidden" name="id" value="<%= recommendation.Id %>">
        <button type="submit" class="btn btn-danger">削除する</button>
      </form>
    </div>

    <div class="text-center">
      <a href="/admin/recommendation">戻る</a>
    </div>
    <%- include('./../../../components/inputJs') %>
    <script src="<%= pageData.origin %>/js/editRecommendation.js"></script>
  </body>
</html>