<% const recommendation = pageData.anyData.recommendation; %>
<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../../components/head') %>
    <meta name="csrfToken" content="<%= pageData.csrfToken %>">
    <link rel="stylesheet" href="<%= pageData.origin %>/css/admin/recommendation/edit.css" />
  </head>
  <body>
    <h3>セクションの編集</h3>

    <form method="post" action="/admin/recommendation/udpate">
      <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
      <input type="hidden" name="id" value="<%= recommendation.Id %>">
      <div class="mb-3">
        <label for="title" class="form-label" required>タイトル</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="タイトルを入力" value="<%= recommendation.Title %>" required>
      </div>

      <div class="mb-3 form-floating">
        <input type="text" class="form-control" placeholder="内容を追加" id="content" style="height: 200px" name="content" value="<%= recommendation.Content %>" required>
        <label for="content">内容</label>
      </div>

      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" name="isSolid" onclick="toggleSortIndex()" value="solid" <% if(recommendation.IsSolid) { %>checked<% } %> id="isSolid">
        <label class="form-check-label" for="isSolid">固定</label>
      </div>


      <div class="mb-3 sort-index-box <% if (!recommendation.IsSolid) { %>view<% } %>" id="sort-index-box">
        <input type="number" class="form-control" min="1" max="<%= pageData.anyData.maxSortIndex %>" required id="sortIndex" name="sortIndex" value="<%= recommendation.SortIndex %>">
        <label for="sortIndex">順番</label>
      </div>

      <div class="mb-3">
        <div class="book-title-list-box" id="book-title-list-box">
          <% for (const book of pageData.anyData.books) { %>
            <div class="book-item-box" id="book-item-<%= book.Id %>" data-bookid="<%= book.Id %>">
              <p><%= book.BookName %></p>
              <input type="hidden" value="<%= book.Id %>" name="books[]">
              <a onclick="deleteBook('<%= book.Id %>')" class="btn btn-warning">削除</a>
            </div>
          <% } %>
        </div>
        <input class="form-control add-id-input" type="text" placeholder="urlを入力" id="url">
        <a class="btn btn-primary" onclick="addBook('<%= recommendation.Id %>')">追加</a>
      </div>

      <div class="mb-3">
        <button type="button" onclick="submit();" class="btn btn-primary">確定</button>
      </div>
    </form>

    <hr/>

    <div class="text-center">
      <form method="post" action="/admin/recommendation/delete">
        <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
        <input type="hidden" name="id" value="<%= recommendation.Id %>">
        <button type="submit" class="btn btn-danger">削除する</button>
      </form>
    </div>

    <div class="text-center">
      <a href="/admin/recommendation">戻る</a>
    </div>
    <%- include('./../../../components/inputJs') %>
    <script src="<%= pageData.origin %>/js/editRecommendation.js"></script>
  </body>
</html>