<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../../components/head') %>
    <link rel="stylesheet" href="<%= pageData.origin %>/css/admin/recommendation/recommendation.css" />
  </head>
  <body>
    <h3>おすすめセクション一覧</h3>

    <div class="text-center">
      <a href="/admin/recommendation/add" class="btn btn-primary">セクションを追加する</a>
    </div>

    <div class="recommendation-list-box">
      <% for (const item of pageData.anyData.recommendations) { %>
        <% if (item.recommendation.IsSolid) { %>
          <p class="recommendation-solid-text"><%- include('./../../../icons/pin-angle') %>固定済み</p>
        <% } %>
        <div class="recommendation-box">
          <h1><%= item.recommendation.Title %></h1>
          <p><%= item.recommendation.Content %></p>
          <div class="recommendation-book-list-box">
            <% for (const book of item.books) { %>
              <div class="recommendation-book-item-box">
                <img src="<%= book.ImgLink %>" data-isbn="<%= book.Isbn %>">
                <h2><%= book.BookName %></h2>
                <a href="/item/<%= book.Id %>">詳細</a>
              </div>
            <% } %>
          </div>
          <div class="recommendation-edit-button mt-3 text-center">
            <a href="/admin/recommendation/edit?rid=<%= item.recommendation.Id %>" class="btn btn-outline-success">編集する</a>
          </div>
        </div>
      <% } %>
    </div>


    <%- include('./../../../components/navigation', {paginationData: pageData.anyData.paginationData, url: '/admin/recommendation/?'}) %>

    <div class="text-center">
      <a href="/admin/">戻る</a>
    </div>
    <%- include('./../../../components/inputJs') %>
  </body>
</html>