<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../../components/head') %>
    <link rel="stylesheet" href="<%= pageData.origin %>/css/admin/recommendation/recommendation.css" />
  </head>
  <body>
    <%- include('./../../../components/header-title', {mes: 'おすすめセクション一覧'}) %>

    <a href="/admin/recommendation/add" class="tree-button mx-auto my-3">
      セクションを追加する
    </a>

    <% if (pageData.anyData.recommendations.length === 0) { %>
      <%- include('../../../components/no-item', {title: "セクションがありません", mes:"お知らせやおすすめの本を皆さんに紹介しましょう！"}) %>
    <% } else { %>
      <%- include('./../../../components/recommendation-list', {paginationData: pageData.anyData.recommendations, editMode: true}) %>
    <% } %>

    <%- include('./../../../components/pagination', {paginationData: pageData.anyData.paginationData, url: '/admin/recommendation/?'}) %>

    <a href="/admin/" class="tree-button mx-auto my-4">戻る</a>

    <%- include('./../../../components/state-alert', {pageData}) %>
    <%- include('./../../../components/input-js') %>
  </body>
</html>