<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../../components/head') %>
    <link rel="stylesheet" href="<%= pageData.origin %>/css/admin/recommendation/recommendation.css" />
  </head>
  <body>
    <%- include('./../../../components/header-title', {mes: 'おすすめセクション一覧'}) %>

    <div class="text-center">
      <a href="/admin/recommendation/add" class="btn btn-primary">セクションを追加する</a>
    </div>

    <% if (pageData.anyData.recommendations.length === 0) { %>
      <%- include('../../../components/no-item', {title: "セクションがありません", mes:"お知らせやおすすめの本を皆さんに紹介しましょう！"}) %>
    <% } else { %>
      <%- include('./../../../components/recommendation-list', {editMode: true}) %>
    <% } %>

    <%- include('./../../../components/pagination', {paginationData: pageData.anyData.paginationData, url: '/admin/recommendation/?'}) %>

    <div class="text-center">
      <a href="/admin/">戻る</a>
    </div>
    <%- include('./../../../components/input-js') %>
  </body>
</html>