<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../../components/head') %>
    <link rel="stylesheet" href="<%= pageData.origin %>/css/admin/recommendation/recommendation.css" />
  </head>
  <body>
    <h3>おすすめセクション一覧</h3>

    <div class="text-center">
      <a href="/admin/recommendation/add" class="btn btn-primary">セクションを追加する</a>
    </div>

    <%- include('./../../../components/recommendationList', {editMode: true}) %>

    <%- include('./../../../components/navigation', {paginationData: pageData.anyData.paginationData, url: '/admin/recommendation/?'}) %>

    <div class="text-center">
      <a href="/admin/">戻る</a>
    </div>
    <%- include('./../../../components/inputJs') %>
  </body>
</html>