<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../components/head') %>
    <link rel="stylesheet" href="<%= pageData.origin %>/css/item.css" />
    <link rel="stylesheet" href="<%= pageData.origin %>/css/campaign/item.css" />
  </head>
  <body>
    <%- include('./../../components/navbar') %>

    <% if (pageData.anyData.recommendation !== null) { %>
      <div class="campaign-title-box">
        <h1><%= pageData.anyData.recommendation.recommendation.Title %></h1>
        <p>公開日: <%= pageData.anyData.recommendation.recommendation.CreatedAt %></p>
        <% if (pageData.anyData.recommendation.recommendation.IsSolid) { %><p><bi class="bi-pin"></bi>固定</p><% } %>
      </div>

      <div class="text-center my-4">
        <img src="/thumbnail/<%= pageData.anyData.recommendation.recommendation.ThumbnailName %>.png" class="capmpaign-thumbnail">
      </div>

      <div class="campaign-content markdown-result">
        <%- pageData.anyData.recommendation.recommendation.htmlContent %>
      </div>

      <aside class="my-4">
        <div class="osusume-title text-center"><i class="bi bi-book me-4"></i>書籍<i class="bi bi-book ms-4"></i></div>
        <div class="osusume-flex">
          <% for (const book of pageData.anyData.recommendation.items) { %>
            <a class="osusume-book" href="/item/<%= book.book.Id %>">
              <img src="<%= book.book.ImgLink %>" alt="" data-isbn="<%= book.book.Isbn %>">
              <div class="osusume-text">
                <p class="osusume-book-title"><%= book.book.BookName %></p>
                <p class="osusume-writer">著；<%= book.book.AuthorName %></p>
              </div>
              <div class="osusume-comment">
                <p class="my-0"><%= book.comment %></p>
              </div>
            </a>
          <% } %>
        </div>
      </aside>

    <% } else { %>
      <%- include('../../components/no-item', {title: "キャンペーンが見つかりませんでした。", mes: "もう一度お試しください。", icon: "search"}) %>
    <% } %>

    <a href="/campaign/" class="tree-button tree-button-warning my-4 mx-auto">
      キャンペーン画面に戻る
    </a>

    <%- include('./../../components/state-alert', {pageData}) %>
    <%- include('./../../components/input-js') %>
    <script src="<%= pageData.origin %>/js/getImgLinks.js"></script>
  </body>
</html>