<%
const itemComponentLink = './../components/confirm-request-item'; 
%>
<!DOCTYPE html>
<html>
  <head>
    <%- include('./../components/head') %>
  </head>
  <body>
    <header class="text-center">
      <h1>リクエスト内容の確認</h1>
      <p>リクエスト内容が正しければ「送信」を、誤りがあれば「戻る」を押してください。</p>
    </header>

    <main>
      <form method="POST" action="/register" class="px-4">
        <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
      
        <%- include(itemComponentLink, {title: '書名', content: pageData.anyData.request.BookName}) %>
        <%- include(itemComponentLink, {title: '著者名', content: pageData.anyData.request.AuthorName}) %>
        <%- include(itemComponentLink, {title: '出版社名', content: pageData.anyData.request.PublisherName}) %>
        <%- include(itemComponentLink, {title: 'ISBN', content: pageData.anyData.request.Isbn}) %>
        <%- include(itemComponentLink, {title: '内容', content: pageData.anyData.request.Message}) %>

        <div class="text-center">
          <a href="/request" class="btn btn-outline-success">戻る</a>
          <button type="submit" class="btn btn-outline-primary">送信</button>
        </div>
      </form>
    </main>
    <%- include('./../components/state-alert', {pageData}) %>
    <%- include('./../components/input-js') %>
  </body>
</html>