<!DOCTYPE html>
<html>
  <head>
    <%- include('./../components/head') %>
    <link rel="stylesheet" href="<%= pageData.origin %>/css/index.css" />
  </head>
  <body>
    <%- include('./../components/navbar') %>

    <main>
      <div class="home-search-box">
        <div class="home-search">
          <form class="search-input-box" action="/search" method="get">
            <input type="search" id="search-input" name="search" placeholder="Search" required>
            <input type="submit" id="home-search-submit" hidden>
            <label for="home-search-submit">
              <i class="bi bi-search"></i>
            </label>
          </form>
  
          <div class="detail-search-box">
            <a onclick="viewSearchBox()">
              <p>
                <i class="bi bi-chevron-double-right"></i>
                詳細設定
              </p>
            </a>
          </div>
        </div>
      </div>

      <div class="index-campaign">
        <div class="campaign-title">
          <i class="bi bi-chat-dots"></i>
          <div class="campaign-title-text">Campaign</div>
        </div>

        <div class="campaign-flex">
          <% for (const section of pageData.anyData.recommendations) { %>
            <li class="campaign-item">
              <% if (section.recommendation.IsSolid) { %>
              <% } %>
              <% const recommendation = section %>
              <img class="campaign-item-cover" src="/thumbnail/<%= recommendation.recommendation.ThumbnailName %>.png" >
              <div class="campaign-item-text">
                <div class="campaign-item-time"><%= recommendation.recommendation.CreatedAt %></div>
                <div class="campaign-item-title"><%= recommendation.recommendation.Title %></div>
              </div>
            </li>
          <% } %>
        </div>
      </div>
    </main>

    <%- include('./../components/state-alert', {pageData}) %>
    <%- include('./../components/input-js') %>
    <script src="<%= pageData.origin %>/js/getImgLinks.js"></script>
  </body>
</html>