<!DOCTYPE html>
<html>
  <head>
    <%- include('./../components/head') %>
    <link rel="stylesheet" href="<%= pageData.origin %>/css/index.css" />
  </head>
  <body>
    <%- include('./../components/navbar') %>
    <h1 class="text-center mt-3">ようこそ、HOTATEへ!</h1>
    <%- include('./../components/inputJs') %>
    <script src="<%= pageData.origin %>/js/csvDownload.js"></script>
  </body>
</html>