<!DOCTYPE html>
<html>
  <head>
    <%- include('./../components/head') %>
    <link rel="stylesheet" href="<%= pageData.origin %>/css/index.css" />
    <link rel="stylesheet" href="<%= pageData.origin %>/css/admin/recommendation/recommendation.css" />
  </head>
  <body>
    <%- include('./../components/navbar') %>

    <%- include('./../components/input-js') %>
    <%- include('./../components/state-alert', {pageData}) %>
    <script src="<%= pageData.origin %>/js/getImgLinks.js"></script>
  </body>
</html>