<!DOCTYPE html>
<html>
  <head>
    <%- include('./../components/head') %>
    <link rel="stylesheet" href="<%= pageData.origin %>/css/init-admin.css" />
  </head>
  <body>
    <header class="text-center">
      <%- include('./../components/header-title', {mes: '管理者情報の登録'}) %>
      <p>管理者情報を設定します。初期設定後も変更することが可能です。</p>
    </header>

    <main>
      <form method="POST" action="/init-admin" class="px-4">
        <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
        <div class="tree-form-item">
          <label for="input_id" class="tree-label">ユーザ名</label>
          <input type="text" class="tree-input" id="input_id" name="id" placeholder="ユーザ名" required>
        </div>
        <div class="tree-form-item">
          <label for="input_pw" class="tree-label">パスワード</label>
          <input type="password" class="tree-input" id="input_pw" name="pw" placeholder="パスワード" required>
        </div>
        <div class="mb-3 text-center container">
          <div class="row">
            <div class="col-sm-6">
              <a href="/" class="tree-button tree-button-success mx-auto">戻る</a>
            </div>
            <div class="col-sm-6">
              <button type="submit" class="tree-button tree-button-warning mx-auto">新規登録</button>
            </div>
          </div>
        </div>
      </form>
    </main>
    <%- include('./../components/state-alert', {pageData}) %>
    <%- include('./../components/input-js') %>
  </body>
</html>