<!DOCTYPE html>
<html>
  <head>
    <%- include('./../components/head') %>
    <link rel="stylesheet" href="<%= pageData.origin %>/css/item.css" />
    <link rel="stylesheet" href="<%= pageData.origin %>/css/admin/recommendation/recommendation.css" />
  </head>
  <body>
    <%- include('./../components/navbar') %>
    <main>
      <% if (!pageData.anyData.isError) { %>
        <% data = pageData.anyData.bookData %>

        <div class="item-box">
          <div class="item-title"><%= data.BookName %></div>
          <div class="item-syousai">
            <div><img src="<%= data.ImgLink %>" alt="" data-isbn="<%= data.Isbn %>"></div>
            <div class="item-text">
              <p class="item-writer">著者 : <%= data.AuthorName %></p>
              <p class="item-writer">出版社：<%= data.PublisherName %></p>
              <div class="arasuzi">あらすじ</div>
              <p><%= data.BookContent %></p>
              <% if (data.Tags.length > 0) { %>
              <div class="tag-flex">
                <% data.Tags.forEach(tag => { %>
                  <div class="tag">
                    <a href="/search?search=<%= tag %>&mode=tag">
                      <p><i class="bi bi-hash"></i><%= tag %></p>
                    </a>
                  </div> 
                <% }) %>
              </div>
              <% } %>
              <form action="/tag/insert" method="post">
                <input type="hidden" name="bookId" value="<%= data.Id %>">
                <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
                <div class="add-tag-form-box container">
                  <div class="row align-items-center">
                    <div class="col-md-6">
                      <input type="text" class="tree-input w-100" name="tagName" placeholder="タグを追加">
                    </div>
                    <div class="col-md-6">
                      <button type="submit" class="tree-button tree-button-success">追加</button>
                    </div>
                  </div>
                  <div class="row" id="tag-result-box">
                    <div class="col-md-12">
                      <p id="tag-result" class="m-0"></p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <aside class="my-4">
          <div class="osusume-title"><i class="bi bi-binoculars-fill"></i>この本に似ている本</div>
          <div class="osusume-flex">
            <% for (const book of pageData.anyData.nearCategoryBookDatas) { %>
              <a class="osusume-book" href="/item/<%= book.Id %>">
                <img src="<%= book.ImgLink %>" alt="" data-isbn="<%= book.Isbn %>">
                <div class="osusume-text">
                  <p class="osusume-book-title"><%= book.BookName %></p>
                  <p class="osusume-writer">著；<%= book.AuthorName %></p>
                </div>
              </a>
            <% } %>
          </div>
        </aside>

        <% if (pageData.anyData.recommendation !== null) { %>
        <aside class="my-4">
          <div class="osusume-title"><i class="bi bi-binoculars-fill"></i>この本が紹介されているキャンペーン</div>
          <div class="osusume-flex px-4">
            <%- include('../components/recommendation-list', {paginationData: pageData.anyData.recommendation}) %>
          </div>
        </aside>
        <% } %>


      <% } else { %>
        <%- include('../components/no-item', {title: "本が見つかりませんでした", mes: "再度お試しください", icon: "book"}) %>
      <% } %>
    </main>
    <%- include('./../components/state-alert', {pageData}) %>
    <%- include('./../components/input-js') %>
    <script src="<%= pageData.origin %>/js/getImgLinks.js"></script>
  </body>
</html>