<!DOCTYPE html>
<html>
  <head>
    <%- include('./../components/head') %>
    <link rel="stylesheet" href="<%= pageData.origin %>/css/item.css" />
    <link rel="stylesheet" href="<%= pageData.origin %>/css/admin/recommendation/recommendation.css" />
  </head>
  <body>
    <%- include('./../components/navbar') %>
    <main>
      <% if (!pageData.anyData.isError) { %>
        <% data = pageData.anyData.bookData %>

        <div class="item-title"><%= data.BookName %></div>
        <div class="item-syousai">
          <div><img src="<%= data.ImgLink %>" alt="" data-isbn="<%= data.Isbn %>"></div>
          <div class="item-text">
            <p class="item-writer">著者: <%= data.AuthorName %></p>
            <p class="item-writer">出版社：<%= data.PublisherName %></p>
            <div class="arasuzi">あらすじ</div>
            <p><%= data.BookContent %></p>
            <div class="tag-flex">
              <% data.Tags.forEach(tag => { %>
                <div class="tag">
                  <a href="/search?search=<%= tag %>&tag=true">
                    <p><i class="bi bi-hash"></i><%= tag %></p>
                  </a>
                </div> 
              <% }) %>
            </div>
          </div>
        </div>

        <aside>
          <div class="osusume-title"><i class="bi bi-binoculars-fill"></i>この本に似ている本</div>
          <div class="osusume-flex">
            <% for (const book of pageData.anyData.nearCategoryBookDatas) { %>
              <div class="osusume-book">
                <img src="<%= book.ImgLink %>" alt="" data-isbn="<%= book.Isbn %>">
                <div class="osusume-text">
                  <p class="osusume-book-title"><%= book.BookName %></p>
                  <p class="osusume-writer">著；<%= book.AuthorName %></p>
                </div>
              </div>
            <% } %>
          </div>
         </aside>

        <div class="recommend-other-books">

          <% if (pageData.anyData.recommendation !== null) { %>
          <div class="exist-recommendation">
            <h2 class="recommend-other-books-title"><%= data.BookName %>が紹介されているセクション</h2>
            <%- include('../components/recommendation-box', {recommendation: pageData.anyData.recommendation}) %>
          </div>
          <% } %>
        </div>

      <% } else { %>
        <h4 class="text-danger">本が見つかりませんでした。</h4>
      <% } %>
    </main>
    <%- include('./../components/state-alert', {pageData}) %>
    <%- include('./../components/input-js') %>
    <script src="<%= pageData.origin %>/js/getImgLinks.js"></script>
  </body>
</html>