<!DOCTYPE html>
<html>
  <head>
    <%- include('./../components/head') %>
    <link rel="stylesheet" href="<%= pageData.origin %>/css/item.css" />
    <meta name="csrfToken" content="<%= pageData.csrfToken %>">
  </head>
  <body>
    <%- include('./../components/navbar') %>
    <main>
      <% if (!pageData.anyData.isError) { %>
        <% data = pageData.anyData.bookData %>
        <div class="book-content text-center my-3">
          <%- include('./../components/headerTitle', {mes: data.BookName, logo: ''}) %>
          <h4 class="mt-3"><%= data.AuthorName %> ・ <%= data.publisherName%></h4>
          <img src="<%= data.ImgLink %>" class="img-fluid rounded-start">
          <p class="mt-3"><%= data.BookContent %></p>
        </div>
        <% data.Tags.forEach(tag => { %>
          <%- include('../components/bookTag', {tag: tag}) %>
        <% }) %>
        <% if (pageData.anyData.isLogin) { %>
          <a href="/admin/book/edit?id=<%= data.Id %>">編集</a>
        <% } %>
        <form action="/tag/insert" method="post">
          <input type="hidden" name="bookId" value="<%= data.Id %>">
          <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
          <div class="add-tag-form-box container">
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" name="tagName" placeholder="タグを追加">
              </div>
              <div class="col-md-6">
                <button type="submit" class="btn btn-primary">追加</button>
              </div>
            </div>
            <div class="row" id="tag-result-box">
              <div class="col-md-12">
                <p id="tag-result" class="m-0"></p>
              </div>
            </div>
          </div>
        </form>

        <div class="recommend-other-books">
          <div class="near-category-books">
            <h2 class="recommend-other-books-title"><%= data.BookName %>に類似している本</h2>
            <div class="near-category-books-list-box">
              <div class="near-category-books-list" id="nearCategoryBooksList">
                <%- include('../components/book-item-list', {books: pageData.anyData.nearCategoryBookDatas}) %>
              </div>
              <div class="near-category-detail-box" id="nearCategoryDetailBox">
                <p onclick="showDetail('nearCategoryBooksList', 'nearCategoryDetailBox')">もっとみる</p>
              </div>
            </div>
          </div>

          <div class="exist-recommendation">
            <h2 class="recommend-other-books-title"><%= data.BookName %>が紹介されているセクション</h2>
            <%- include('../components/recommendationBox', {recommendation: pageData.anyData.recommendation}) %>
          </div>
        </div>

      <% } else { %>
        <h4 class="text-danger">本が見つかりませんでした。</h4>
      <% } %>
    </main>
    <%- include('./../components/stateToast', {pageData}) %>
    <%- include('./../components/inputJs') %>
    <script src="<%= pageData.origin %>/js/getImgLinks.js"></script>
  </body>
</html>