<!DOCTYPE html>
<html>
  <head>
    <%- include('./../components/head') %>
    <link rel="stylesheet" href="<%= pageData.origin %>/css/item.css" />
  </head>
  <body>
    <%- include('./../components/navbar') %>
    <main>
      <% if (!pageData.anyData.isError) { %>
        <% data = pageData.anyData.bookData %>
        <div class="book-content text-center my-3">
          <h3 class="mt-3"><%= data.BookName %></h3>
          <h4 class="mt-3"><%= data.AuthorName %> ・ <%= data.publisherName%></h4>
          <img src="<%= data.ImgLink %>" class="img-fluid rounded-start">
          <p class="mt-3"><%= data.BookContent %></p>
        </div>
        <div class="add-tag-form-box container">
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control" id="add-tag" placeholder="タグを追加">
            </div>
            <div class="col-md-6">
              <button type="button" class="btn btn-primary" id="add-tag-btn" onclick="addTag()">追加</button>
            </div>
          </div>
        </div>
      <% } else { %>
        <h4 class="text-danger">本が見つかりませんでした。</h4>
      <% } %>
    </main>
    <%- include('./../components/inputJs') %>
    <script src="<%= pageData.origin %>/js/tagControll.js"></script>
  </body>
</html>