<!DOCTYPE html>
<html>
  <head>
    <%- include('./../components/head') %>
  </head>
  <body>
    <%- include('./../components/navbar') %>

    <header class="text-center">
      <%- include('./../components/header-title', {mes: 'request', logo:'book'}) %>
      <p>入荷してほしい本を入力してください。</p>
      <p>入荷した際には図書館から連絡が届きます</p>
    </header>

    <main>
      <form method="POST" action="/confirm" class="px-4">
        <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
        <div class="tree-form-item">
          <label for="bookName" class="tree-label"><%- include('../components/required-text', {mes: '書名'}) %></label>
          <input class="tree-input" type="text" id="bookName" name="bookName" placeholder="例) 余命3000文字" value="<%= pageData.anyData.saveVal.bookName %>" required>
        </div>
        <div class="tree-form-item">
          <label for="authorName" class="tree-label">著者名</label>
          <input type="text" class="tree-input" id="authorName" name="authorName" placeholder="例) 村崎羯諦" value="<%= pageData.anyData.saveVal.authorName %>">
        </div>
        <div class="tree-form-item">
          <label for="publisherName" class="tree-label">出版社名</label>
          <input type="text" class="tree-input" id="publisherName" name="publisherName" placeholder="例) 小学館文庫" value="<%= pageData.anyData.saveVal.publisherName %>">
        </div>
        <div class="tree-form-item">
          <label for="isbn" class="tree-label">ISBN</label>
          <input type="text" class="tree-input" id="isbn" name="isbn" placeholder="例) 9784094068498" value="<%= pageData.anyData.saveVal.isbn %>">
        </div>
        <div class="mb-3 tree-form-item">
          <label for="message" class="tree-label">本の内容etc.</label>
          <textarea
            class="tree-input tree-textarea"
            id="message"
            name="message"
            placeholder="他に伝えたいことなどがありましたら入力してください。"
          ><%= pageData.anyData.saveVal.message %></textarea>
        </div>

        <div class="my-4 row g-6 align-items-center justify-content-center">
          <div class="col-auto">
            <select class="form-select tree-select-with-bg" name="department">
              <% for (let department of pageData.anyData.departmentList) { %>
                <option value="<%= department.Id %>"><%= department.Name %></option>
              <% } %>
            </select>
          </div>
          <div class="col-auto">
            科
          </div>
          <div class="col-auto">
            <select class="form-select tree-select-with-bg" name="schoolYear">
              <% for (let i = 1; i <= pageData.anyData.schoolGradeInfo.Year; i++) { %>
                <option value="<%= i %>"><%= i %></option>
              <% } %>
            </select>
          </div>
          <div class="col-auto">
            年
          </div>
          <div class="col-auto">
            <select class="form-select tree-select-with-bg" name="class">
              <% for (let i = 1; i <= pageData.anyData.schoolGradeInfo.SchoolClass; i++) { %>
                <option value="<%= i %>"><%= i %></option>
              <% } %>
            </select>
          </div>
          <div class="col-auto">
            組
          </div>
        </div>

        <div class="mb-3 tree-form-item">
          <label for="userName" class="tree-label"><%- include('../components/required-text', {mes: '名前'}) %></label>
          <input type="text" class="tree-input" id="userName" name="userName" placeholder="例) 大淡路 不知火" required value="<%= pageData.anyData.saveVal.userName %>">
        </div>
        
        <button type="submit" class="tree-button my-4 mx-auto">
          確認画面へ
          <i class="bi bi-arrow-right ms-1"></i>
        </button>
      </form>
    </main>

    <%- include('./../components/footer') %>

    <%- include('./../components/state-alert', {pageData}) %>
    <%- include('./../components/input-js') %>
  </body>
</html>