<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../components/head') %>
    <link rel="stylesheet" href="<%= pageData.origin %>/css/admin/home.css" />
  </head>
  <body>
    <h1>管理者ホーム画面</h1>
    <ul>
      <li><a href="./csv/choice">CSVファイルを選択</a></li>
      <li><a href="./tags">タグ管理</a></li>
      <li><a href="./search_history">検索履歴管理</a></li>
      <li><a href="./book">本の管理</a></li>
    </ul>
    <form action="/admin/logout" method="post">
      <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
      <button type="submit" class="btn btn-primary">ログアウト</button>
    </form>
    <%- include('./../../components/stateToast', {pageData}) %>
    <%- include('./../../components/inputJs') %>
  </body>
</html>