<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../components/head') %>
    <link rel="stylesheet" href="<%= pageData.origin %>/css/admin/home.css" />
  </head>
  <body>
    <header>
      <%- include('./../../components/header-title', {mes: '管理画面', logo:'person'}) %>
    </header>

    <main>
      <div class="admin-menu-box">
        <div class="admin-menu-item-box">
          <a href="./csv/choice" class="admin-menu-link">
            <div class="admin-menu-sentence-box">
              <h4>CSVファイルから本を登録</h4>
              <p>CSVファイルから本を登録します。5000行まで一括登録が可能です</p>
            </div>
          </a>
        </div>

        <div class="admin-menu-item-box">
          <a href="./book" class="admin-menu-link">
            <div class="admin-menu-sentence-box">
              <h4>本の管理</h4>
              <p>現在登録されている本の管理が行えます。本の一括削除もこちらから可能です</p>
            </div>
          </a>
        </div>
    
        <div class="admin-menu-item-box">
          <a href="./search-history" class="admin-menu-link">
            <div class="admin-menu-sentence-box">
              <h4>検索履歴一覧</h4>
              <p>検索履歴が閲覧できます</p>
            </div>
          </a>
        </div>
    
        <div class="admin-menu-item-box">
          <a href="./tags" class="admin-menu-link">
            <div class="admin-menu-sentence-box">
              <h4>タグの管理</h4>
              <p>現在登録されているタグの管理が行えます</p>
            </div>
          </a>
        </div>
    
        <div class="admin-menu-item-box">
          <a href="./setting" class="admin-menu-link">
            <div class="admin-menu-sentence-box">
              <h4>管理者情報の変更</h4>
              <p>管理者のID、パスワードの変更が行えます</p>
            </div>
          </a>
        </div>
    
        <div class="admin-menu-item-box">
          <a href="./school-info" class="admin-menu-link">
            <div class="admin-menu-sentence-box">
              <h4>学校情報の変更</h4>
              <p>学校の学科名、クラス、学年が設定できます。この設定が行われていないと本リクエスト機能が使用できませんのでご注意ください</p>
            </div>
          </a>
        </div>
    
        <div class="admin-menu-item-box">
          <a href="./book-request" class="admin-menu-link">
            <div class="admin-menu-sentence-box">
              <h4>本リクエストの一覧</h4>
              <p>現在申請されている本のリクエストを表示します</p>
            </div>
          </a>
        </div>
    
        <div class="admin-menu-item-box">
          <a href="./recommendation" class="admin-menu-link">
            <div class="admin-menu-sentence-box">
              <h4>キャンペーンの編集</h4>
              <p>キャンペーンの新規作成や編集、削除が行えます</p>
            </div>
          </a>
        </div>
    
        <div class="admin-menu-item-box">
          <a href="/" target="_blank" rel="noopener noreferrer" class="admin-menu-link">
            <div class="admin-menu-sentence-box">
              <h4>新たなタブでホーム画面を開く</h4>
              <p>TREEを新たなタブで開きます。なお複数のタブを用いての管理機能の使用はお控えください</p>
            </div>
          </a>
        </div>
      </div>
    
      <form action="/admin/logout" method="post">
        <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
        <button type="submit" class="tree-button tree-button-warning my-4 mx-auto">
          <i class="bi-door-closed me-2"></i>
          ログアウト
        </button>
      </form>
    </main>
    <%- include('./../../components/state-alert', {pageData}) %>
    <%- include('./../../components/input-js') %>
  </body>
</html>