<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../components/head') %>
    <link rel="stylesheet" href="<%= pageData.origin %>/css/admin/home.css" />
  </head>
  <body>
    <header>
      <%- include('./../../components/headerTitle', {mes: '管理画面', logo:'person'}) %>
    </header>
    <main>
      <div class="list-group m-4">
        <a href="./csv/choice" class="list-group-item list-group-item-action">
          CSVファイルから登録
        </a>
        <a href="./tags" class="list-group-item list-group-item-action">タグの管理</a>
        <a href="./search-history" class="list-group-item list-group-item-action">検索履歴一覧</a>
        <a href="./book" class="list-group-item list-group-item-action">本の管理</a>
        <a href="./setting" class="list-group-item list-group-item-action">管理者情報の変更</a> 
        <a href="./department" class="list-group-item list-group-item-action">学科の管理</a>
        <a href="./book-request" class="list-group-item list-group-item-action">本リクエスト一覧</a>
      </div>
      <div class="logout text-center">
        <form action="/admin/logout" method="post">
          <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
          <button type="submit" class="btn btn-warning">ログアウト</button>
        </form>
      </div>
    </main>
    <%- include('./../../components/stateToast', {pageData}) %>
    <%- include('./../../components/inputJs') %>
  </body>
</html>