<%
let mes = '';
let type = '';

switch (pageData.anyData.stateValue) {
  case 'delete':
    mes = '削除が完了しました';
    type = 'success';
    break;
  case 'error':
    mes = 'エラーが発生しました';
    type = 'danger';
    break;
}
%>
<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../../components/head') %>
  </head>
  <body>
    <%- include('./../../../components/navbar') %>
    <h3>検索履歴一覧</h3>
    <% if (mes.length) { %>
      <%- include('./../../../components/stateToast', {mes: mes, type: type}) %>
    <% } %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>検索内容</th>
          <th>削除</th>
        </tr>
      </thead>
      <tbody>
        <% for (let tag of pageData.anyData.searchHistory) { %>
          <tr>
            <td><%= tag.Words %></td>
            <td>
              <form action="/admin/search_history/delete" method="post">
                <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
                <input type="hidden" name="id" value="<%= tag.Id %>">
                <button type="submit" class="btn btn-danger">削除</button>
              </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <%- include('./../../../components/navigation', {paginationData: pageData.anyData.paginationData, url: '/admin/search_history/?'}) %>
    <div class="text-center">
      <a href="/admin/">戻る</a>
    </div>
    <%- include('./../../../components/inputJs') %>
  </body>
</html>