<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../../components/head') %>
  </head>
  <body>
    <%- include('./../../../components/navbar') %>
    <h3>検索履歴一覧</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>検索内容</th>
          <th>削除</th>
        </tr>
      </thead>
      <tbody>
        <% for (let tag of pageData.anyData.searchHistory) { %>
          <tr>
            <td><%= tag.Id %></td>
            <td><%= tag.Words %></td>
            <td>
              <form action="/admin/search_history/delete" method="post">
                <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
                <input type="hidden" name="id" value="<%= tag.Id %>">
                <button type="submit" class="btn btn-danger">削除</button>
              </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <% if (pageData.anyData.pageCount >= 1) { %>
            <li class="page-item">
              <a class="page-link" href="/admin/search_history/?page=<%= pageData.anyData.pageCount %>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          <% } %>
          <% for (let i = pageData.anyData.pageRange.min; i <= pageData.anyData.pageRange.max; i++) { %>
            <li class="page-item <% if (i - 1 === pageData.anyData.pageCount){ %>active<% } %>">
              <a class="page-link" href="/admin/search_history/?page=<%= i %>"><%= i %></a>
            </li>
          <% } %>
          <% if (pageData.anyData.pageCount < pageData.anyData.totalPage - 1) { %>
            <li class="page-item">
              <a class="page-link" href="/admin/search_history/?page=<%= pageData.anyData.pageCount + 2 %>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          <% } %>
        </ul>
      </nav>
    <div class="text-center">
      <a href="/admin/">戻る</a>
    </div>
    <%- include('./../../../components/inputJs') %>
  </body>
</html>