<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../../components/head') %>
  </head>
  <body>
    <%- include('./../../../components/header-title', {mes: '検索履歴一覧'}) %>
    <% if (pageData.anyData.searchHistory.length === 0) { %>
      <%- include('../../../components/no-item', {title: "検索履歴がありません", mes: ""}) %>
    <% } else { %>
      <div class="tree-table">
        <table class="table table-striped text-center">
          <thead>
            <tr>
              <th>検索内容</th>
              <th>作成日時</th>
              <th>削除</th>
            </tr>
          </thead>
          <tbody>
            <% for (let tag of pageData.anyData.searchHistory) { %>
              <tr class="align-middle">
                <td><%= tag.Words %></td>
                <td><%= tag.CreatedAt %></td>
                <td>
                  <form action="/admin/search-history/delete" method="post">
                    <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
                    <input type="hidden" name="id" value="<%= tag.Id %>">
                    <button type="submit" class="tree-button mx-auto tree-button-danger tree-button-mini">
                      削除
                      <i class="bi bi-trash ms-2"></i>
                    </button>
                  </form>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    <% } %>

    <%- include('./../../../components/pagination', {paginationData: pageData.anyData.paginationData, url: '/admin/search-history/?'}) %>
    
    <a href="/admin/" class="tree-button mx-auto my-4">
      戻る
      <i class="bi bi-arrow-clockwise"></i>
    </a>

    <%- include('./../../../components/input-js') %>
  </body>
</html>