<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../../components/head') %>
    <link rel="stylesheet" href="<%= pageData.origin %>/css/admin/book/add.css" />
  </head>
  <body>
    <header>
      <div class="text-center">
        <h2>本の追加</h2>
      </div>
    </header>
    <main>
      <% if (pageData.anyData.count < 10) { %>
        <a href="/admin/book/add?c=<%=pageData.anyData.count + 1 %>">1冊増やす</a>
      <% } %>
      <% if (pageData.anyData.count > 1) { %>
        <a href="/admin/book/add?c=<%=pageData.anyData.count - 1 %>">1冊減らす</a>
      <% } %>
        <div class="form-box">
          <form action="/admin/book/add" method="post">
            <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
            <div class="container">
              <div class="row row-cols-2">
                <% for (let i = 0; i < pageData.anyData.count; i++) { %>
                  <div class="col">
                    <%- include('../../../components/admin/book/bookCard', {bookCount: i + 1}) %>
                  </div>
                <% } %>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">追加</button>
          </form>
        </div>
    </main>
    <%- include('./../../../components/inputJs') %>
  </body>
</html>