<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../../components/head') %>
    <link rel="stylesheet" href="<%= pageData.origin %>/css/admin/book/add.css" />
  </head>
  <body>
    <header>
      <%- include('./../../../components/header-title', {mes: '本の追加'}) %>
    </header>

    <main>

      <h4 class="text-center my-4">数を変更すると入力されたデータは<span class="text-danger">リセット</span>されます。</h4>

      <div class="d-flex justify-content-evenly my-4">
        <% if (pageData.anyData.count > 1) { %>
          <a href="/admin/book/add?c=<%=pageData.anyData.count - 1 %>" class="decrease-count">1冊減らす</a>
        <% } %>
        <% if (pageData.anyData.count < 10) { %>
          <a href="/admin/book/add?c=<%=pageData.anyData.count + 1 %>" class="increase-count">1冊増やす</a>
        <% } %>
      </div>

        <div class="form-box mb-4">
          <form action="/admin/book/add" method="post">
            <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">

            <div class="d-flex justify-content-evenly my-4">
              <a href="/admin/book/" class="btn btn-outline-success">戻る</a>
              <button type="submit" class="btn btn-outline-primary">追加</button>
            </div>

            <div class="container">
              <div class="row row-cols-2">
                <% for (let i = 0; i < pageData.anyData.count; i++) { %>
                  <div class="col">
                    <%- include('../../../components/admin/book/book-card', {bookCount: i + 1}) %>
                  </div>
                <% } %>
              </div>
            </div>
          </form>
        </div>
    </main>
    <%- include('./../../../components/input-js') %>
  </body>
</html>