<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../../components/head') %>
    <link rel="stylesheet" href="<%= pageData.origin %>/css/admin/book/add.css" />
  </head>
  <body>
    <header>
      <%- include('./../../../components/header-title', {mes: '本の追加', logo: 'plus'}) %>
    </header>

    <main>
      <div class="tree-attention">
        <h3 class="tree-attention-title">
          注意
          <i class="bi bi-exclamation-triangle"></i>
        </h3>
        
        <ul class="tree-attention-list">
          <li>追加する冊数を変更すると、入力したデータはリセットされます。</li>
          <li>一度に登録できる冊数は10冊までです。</li>
        </ul>
      </div>

      <form action="/admin/book/add" method="post">
        <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
        <div class="d-flex justify-content-evenly my-4">
          <div class="text-center">
            <button onclick="deleteLastCard()" class="tree-button tree-button-danger">
              1冊減らす
              <i class="bi bi-dash"></i>
            </button>
          </div>
  
          <div class="text-center">
            <a onclick="addCard()" class="tree-button">
              1冊増やす
              <i class="bi bi-plus"></i>
            </a>
          </div>
        </div>
  
        <div class="form-box my-3">
            <div class="container-fluid">
              <div class="row row-cols-2" id="card-box">
                <!-- Elements created by javascript will come here. -->
              </div>
            </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col">
              <a href="/admin/" class="tree-button tree-button-success mx-auto my-0">
                戻る
                <i class="bi bi-arrow-clockwise"></i>
              </a>
            </div>
            <div class="col">
              <button type="submit" class="tree-button mx-auto py-0">追加</button>
            </div>
          </div>
        </div>
      </form>
    </main>
    <%- include('./../../../components/input-js') %>
    <script src="/js/admin/book/controlCard.js"></script>
  </body>
</html>