<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../../components/head') %>
  </head>
  <body>
    <h3>本一覧</h3>
    <h5>ログイン状態で本の詳細ページを閲覧すると、その本を編集することが可能です</h5>
    <h5>合計 : <%= pageData.anyData.bookCount %>冊</h5>
    <div class="add-book-box text-center">
      <a href="/admin/book/add"><h3>本を追加する</h3></a>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>本名称</th>
          <th>編集</th>
          <th>削除</th>
        </tr>
      </thead>
      <tbody>
        <% for (let book of pageData.anyData.books) { %>
          <tr>
            <td><%= book.BookName %></td>
            <td>
              <form action="/admin/book/edit" method="get">
                <input type="hidden" name="id" value="<%= book.Id %>">
                <button type="submit" class="btn btn-success">編集</button>
              </form>
            </td>
            <td>
              <form action="/admin/book/delete" method="post">
                <input type="hidden" name="id" value="<%= book.Id %>">
                <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
                <button type="submit" class="btn btn-danger">削除</button>
              </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <%- include('./../../../components/navigation', {paginationData: pageData.anyData.paginationData, url: '/admin/book/?'}) %>
    <div class="text-center">
      <a href="/admin/">戻る</a>
    </div>
    <%- include('./../../../components/stateToast', {pageData}) %>
    <%- include('./../../../components/inputJs') %>
  </body>
</html>