<%
const itemComponentLink = './../../../components/confirm-request-item'; 
%>
<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../../components/head') %>
  </head>
  <body>
    <header class="text-center">
      <h1>リクスト内容の詳細</h1>
    </header>

    <main>
      <%- include(itemComponentLink, {title: '書名', content: pageData.anyData.request.BookName}) %>
      <%- include(itemComponentLink, {title: '著者名', content: pageData.anyData.request.AuthorName}) %>
      <%- include(itemComponentLink, {title: '出版社名', content: pageData.anyData.request.PublisherName}) %>
      <%- include(itemComponentLink, {title: 'ISBN', content: pageData.anyData.request.Isbn}) %>
      <%- include(itemComponentLink, {title: '内容', content: pageData.anyData.request.Message}) %>
      <%- include(itemComponentLink, {title: '日時', content: pageData.anyData.request.CreatedAt}) %>
      <%- include(itemComponentLink, {title: '名前', content: `${pageData.anyData.request.StudentInfo} ${pageData.anyData.request.UserName}`}) %>
      <a href="/admin/book-request">戻る</a>
    </main>
    <%- include('./../../../components/input-js') %>
  </body>
</html>