<!DOCTYPE html>
<html>
  <head>
    <%- include('./../../../components/head') %>
  </head>
  <body>
    <%- include('./../../../components/header-title', {mes: 'リクエスト一覧'}) %>
    <% if (pageData.anyData.requests.length === 0) { %>
      <%- include('../../../components/no-item', {title: "リクエスト情報はありません", mes:""}) %>
    <% } else { %>
    <table class="tree-table table table-striped text-center">
      <thead>
        <tr>
          <th>書名</th>
          <th>登録日時</th>
          <th>申請者</th>
          <th>詳細</th>
          <th>削除</th>
        </tr>
      </thead>
      <tbody>
        <% for (let request of pageData.anyData.requests) { %>
          <tr>
            <td><%= request.BookName %></td>
            <td><%= request.CreatedAt %></td>
            <td><%= request.StudentInfo %> <%= request.userName %></td>
            <td>
              <a href="/admin/book-request/detail?id=<%= request.Id %>" class="tree-button tree-button-mini mx-auto">詳細</a>
            </td>
            <td>
              <form action="/admin/book-request/delete" method="post">
                <input type="hidden" name="deleteId" value="<%= request.Id %>">
                <input type="hidden" name="_csrf" value="<%= pageData.csrfToken %>">
                <button type="submit" class="tree-button tree-button-mini mx-auto tree-button-danger">削除</button>
              </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <% } %>
    
    <a href="/admin/" class="tree-button mx-auto my-4">戻る</a>

    <%- include('./../../../components/state-alert', {pageData}) %>
    <%- include('./../../../components/input-js') %>
  </body>
</html>
